/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Lobster&family=Manrope&family=Open+Sans&family=Poppins:wght@400;500&family=Work+Sans&display=swap");

/* Utilities */
:root {
  --text-color: #3a3a3a;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
}
.btn-primary {
  background-color: #e02c6d;
  border-radius: 41px;
  padding: 10px 24px;
  color: #ffffff;
  font-weight: 700;
  border: 0;
}
.fa-arrow-right {
  margin-left: 8px;
}
.see-more-btn {
  color: #e02c6d;
  font-weight: 700;
  margin-top: 50px;
  position: absolute;
  right: 0;
  border: 0;
  background-color: #ffffff;
}
.join-now-btn {
  border-radius: 0;
}
/* Header Section Styles */
nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin: 80px auto;
}
nav ul {
  display: flex;
  gap: 34px;
}
nav ul li {
  list-style: none;
  font-weight: 600;
  color: var(--text-color);
}
.nav-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--text-color);
}
/* Hero Section Style */
.hero-section {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  gap: 133px;
}
.hero-section-title {
  font-size: 3.25rem;
  color: var(--text-color);
  font-weight: 700;
  margin-bottom: 16px;
}
.hero-section-description {
  font-weight: 600;
  color: var(--text-color);
  margin-bottom: 1rem;
}
.hero-section-banner {
  background-image: url(images/Circle\ design.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.hero-section-banner > img {
  width: 100%;
}
.sponsers {
  width: 100%;
  max-width: 1110px;
  margin: 100px auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px 60px;
  border-top: 1px solid whitesmoke;
  border-bottom: 1px solid whitesmoke;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
/* Main Section Styles */
/* Popular Section Styles */
.container {
  width: 100%;
  max-width: 1050px;
  margin: 100px auto;
  position: relative;
}
.section-title {
  text-align: center;
  margin-bottom: 30px;
  color: var(--text-color);
  font-weight: 600;
  font-size: 1.75rem;
}
.collections-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.collection {
  padding: 1.1rem 1rem;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}
.collection img {
  width: 100%;
  border-radius: 5px;
}
.collection h3 {
  font-weight: 500;
  font-size: 28px;
  color: #18191f;
  margin-top: 16px;
  margin-bottom: 6px;
}
.collection .price {
  font-weight: 400;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.87);
}
.collection .fa-star,
.fa-star-half-stroke {
  color: #fb8200;
}
.collection .rating {
  font-weight: 700;
  font-size: 14px;
  color: #5e6366;
}
.collection p {
  color: #787885;

  font-weight: 700;
  font-size: 14px;
}
/* Feature product styles */
.featured-products {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
  margin-bottom: 100px;
}
.feature-product-image {
  width: 40%;
}
.feature-product-image img {
  width: 100%;
}
.featured-products-text {
  width: 50%;
}
.featured-products-text h2 {
  font-weight: 700;
  font-size: 38px;
  color: #0a0826;
  margin-bottom: 16px;
}
.featured-products-text p {
  font-weight: 700;
  color: #6c6c6c;
  margin-bottom: 16px;
}
/* Footer stylee */
footer {
  width: 100%;
  background: #0a0826;
  padding: 50px 0;
  text-align: center;
}
footer h3 {
  font-weight: 700;
  font-size: 24px;
  color: #ffffff;
  margin-bottom: 5px;
}
footer p {
  font-weight: 700;
  font-size: 14px;
  color: #d9dbe1;
  margin-bottom: 17px;
}
.fa-instagram,
.fa-globe,
.fa-twitter,
.fa-youtube {
  color: #ffffff;
  margin-right: 16px;
}

.hide {
  display: none;
}
/* Responsive Design */
/* Phones */
@media screen and (max-width: 576px) {
  nav {
    flex-direction: column;
    text-align: center;
  }
  nav ul {
    flex-direction: column;
  }
  .hero-section {
    flex-direction: column-reverse;
    text-align: center;
  }
  .sponsers {
    padding: 0 10px;
  }
  .container {
    padding: 10px;
  }
  .collections-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }
  .featured-products {
    flex-direction: column-reverse;
  }
  .feature-product-image {
    width: 100%;
    padding: 20px;
  }
  .featured-products-text {
    width: 100%;
    padding: 20px;
    text-align: center;
  }
}
/* Tablets */
@media screen and (min-width: 577px) and (max-width: 992px) {
  nav {
    flex-direction: column;
    row-gap: 20px;
    text-align: center;
  }
  nav ul {
    justify-content: center;
  }
  .hero-section {
    flex-direction: column-reverse;
    text-align: center;
  }
  .sponsers {
    padding: 0 10px;
  }
  .container {
    padding: 10px;
  }
  .featured-products {
    flex-direction: column-reverse;
  }
  .feature-product-image {
    width: 100%;
    padding: 20px;
  }
  .featured-products-text {
    width: 100%;
    padding: 20px;
    text-align: center;
  }
  .collections-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}
